/* Wave Animation Styles */
.wave-top {
    position: absolute;
    top: 0;
    left: 0;
       /* background: #0000009c; */
    width: 100%;
    z-index: 1; /* Ensure the wave is behind the content */
  }
  /* Add this to your global CSS file */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}